{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- main_container starts here -->
  <!-- heading_create starts here -->
  <div class="row marl heading_create">
    <div class="heading col-md-12">
     <div class="no-gutters row">
      <div class="col-8">
        <h1>Zones</h1>
      </div>
      <div class="col-4">
        <div class="" style="text-align: right;  margin-bottom: 5%;">
          <button style="max-width: 150px;" class="btn btn-success btn-block ml-auto "><a style="color: white;" href="{% url 'dasein:create_zone' %}"> Add New Zone</a></button>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!-- heading_create ends here -->
  <!-- filter_row starts here -->
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
         <div class="panel-heading-list card-title">
         List of Zones
          <span class="float-right total_count">Total Zones {{zones|length}}</span>
        </div>
          <div class="table-responsive">
           <table class="table table-bordered">
            <thead>
              <tr>
                <th width="5%">ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Coordinates</th>
              </tr>
            </thead>
            <tbody>
              {% for zone in zones %}
              <tr class="text-center">
                <td scope="row">{{ forloop.counter }}</td>
                <td><a href="{% url 'dasein:view_zone' pk=zone.pk %}">{{ zone.zone_name }}</a></td>
                <td><a>{{ zone.description }}</a></td>
                <td><a>{{ zone.coordinate|truncatechars:30 }}</a></td>
                <td class="actions">
                  <a href="{% url 'dasein:view_zone' pk=zone.pk %}" class="btn btn-info view"><i class="fas fa-eye"></i></a>
                  <a href="{% url 'dasein:edit_zone' pk=zone.pk %}" style="background-color: #7ED321; border: 0px; color: white;" class="btn btn-success edit"><i class="fas fa-cogs"></i></a>
                  <a href="{% url 'dasein:remove_zone' pk=zone.id %}" style="background-color: #D0021B; border: 0px; color: white;" class="btn btn-danger delete remove_account"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
          {% ifequal zones|length 0 %}
            <h6 class="text-center">No Zone Records Found</h6>
          {% endifequal %}
        </div>
      </div>
      <br clear="all">
    </div>
  </div>

{% endblock %}